// Set all variables, functions, mixins, logic etc. 


// Colors
	// Brand
		$color-blue: #3383e5;
		$color-grey: #454e59;
		$color-white: #F0F0F7;
		
	// Typography
		$color-title: #31353b;
		$color-body: #11181b;


// Fonts

@font-face {}
$font-title: Helvetica Neue, sans-serif;
$font-body: serif;

// Functions
